<div class="row">
  <div class="col-sm-6">
    <h1><%= @recipe.title %></h1>


    <ul style="list-style:none;">
        <li>Ingredients: <%= @recipe.ingredients %></li>
        <li>Instructions: <%= @recipe.instructions %></li>

          <% if @recipe.categories.any? %>
            <li>Categories:
              <% @recipe.categories.each do |c| %>
                <%= c.name %></li>
              <% end %>
            <% end %>

            <% if @recipe.rating.!=(nil) %>
              <li>Rating:
                  <%= @recipe.rating %></li>
              <% end %>

    </ul>

    <form action="/" method="post">
    <input name="_method" type="hidden" value="delete">
    <input name="id" type="hidden" value="<%=@recipe.id%>">
    <button type="submit" class="btn btn-danger">Delete Recipe</button>
    </form>
  </div>


  <form action="/recipe_rating" method="post">
    <input name="_method" type="hidden" value="patch">
    <input name="id" type="hidden" value="<%=@recipe.id%>">
    <div class="col-sm-6">
      <div class="form-group">
        <h2 style="margin-top:25px;">RATE THIS FOOD</h2>
        <select name="add_rating">
          <% ratings = Range.new(1,5) %>
          <% ratings.each do |n| %>
            <option name="add_rating" value="<%=n%>"><%= n %></option>
          <% end %>
        </select>
        <button style="margin-left:20px;" type="submit" class="btn btn-info">RATE IT</button>
    </div>
  </form>

</div>

<br><br><br><br><br><br><br><br>

<form action="/recipe/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <h4>Update Recipe Title:</h4>
    <input name="title" type="text">
  </div>


  <div class="form-group">
    <h4>Update Recipe Indredients</h4>
    <textarea name="ingredients" type="text" rows="10" cols="60"></textarea>
  </div>


  <div class="form-group">
    <h4>Update Recipe Instructions:</h4>
    <textarea name="instructions" type="text" rows="10" cols="60"></textarea>
  </div>


  <div class="form-group">
    <h4>Remove a Category:</h4>
    <select name="categories">
      <option></option>
      <% @recipe.categories.each do |category| %>
      <option name="categories" value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>


  <div class="form-group">
    <h4>Add a Category:</h4>
    <select name="add_cat">
      <option></option>
      <% @all_categories.-(@recipe.categories).each do |category| %>
      <option name="add_cat" value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </div>


  <button type="submit" class="btn btn-success">Change this Recipe!</button>
</form>
